*.a
*.class
*.o
*.so
*~
*.iml
.DS_Store
.cproject
.gradle
.idea
.project
.sconsign.dblite
.settings/*
*/.settings/*
*/whitespace.db
libs
QA
ajlite.nvram
alljoyn-daemon
bin
!build_core/tools/bin
build
deploy
docs/*.html
docs/html/*.html
gen
lib
local.properties
obj*
xcuserdata
xccheckout
xcshareddata
alljoyn-deviceId.txt
